nav{
  padding:5px
}
nav a{
  color:rgb(255, 255, 255);
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

/* Challenge 7: Make the font for all elements Arial */
body { 
  font-family:Arial;
}

/* Challenge 8: Remove the underline for all hyperlinks */
a {
  text-decoration: none;
}

/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
nav a:hover {
    border-bottom: 2px solid rgb(223, 219, 219);
}

/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
.banner{
  background-color:rgb(157, 157, 216);
  color:white;
}
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
p {
  font-size:30px;
  color:rgb(255, 255, 255);
}
h1 {
  color:rgb(180, 40, 63);
  font-size:100px;
  text-align: center;
}
nav a{
  flex:1;
  text-align:center;
  padding:10px;
  transition:0.5s
}
nav a:hover{
    background-color:rgb(115, 115, 139);
    color:white;
    transition:0.5s;
}
#one, #three {
  flex:1;
}
#two{
  flex:2;
}
.container {
  display :flex;
  flex:1;
}
#banner h1:hover {
    text-decoration: underline;
}
#two p {
  background-color: rgb(158, 121, 153);
}

#paragraph {
  background-color:rgb(187, 135, 66)
}
.culture h1{
  color:white;
}
.landmark h1{
  color:bisque;
}
#one img{
  height:350;

}

